[Unit]
Description=WPGovern daily full backup
After=docker.service

[Service]
Type=oneshot
ExecStart=/opt/wpgovern-install/modules/backup/full_backup_entry.sh
User=root
StandardOutput=journal
StandardError=journal
SyslogIdentifier=wpgovern-backup-full
